.container
  .row
    #myCarousel.carousel.slide
      .carousel-inner
        .active.item
          %img(src="/uploads/u_546769581_1654210223_fm_56.jpg" width="100" height="100")
        .item
          %img(src="/uploads/1295091_190314956747_2.jpg" alt="JS logo" width="100" height="100")
        .item
          %img(src="/uploads/2457387_161130413000_2.jpg" alt="Schema.org logo" width="100" height="100")
        .item
          %img(src="/uploads/1982969_132821594794_2.jpg" alt="JSON logo" width="100" height="100")

    %a.carousel-control.left(href="#myCarousel" data-slide="prev") ‹
    %a.carousel-control.right(href="#myCarousel" data-slide="next") ›
