.container
  .row
    #myCarousel.carousel.slide
      .carousel-inner
        .active.item
          %img(src="/uploads/T1_xWMFCXaXXXHtqvn-2000-470.jpg")
        .item
          %img(src="/uploads/1295091_190314956747_2.jpg")
        .item
          %img(src="/uploads/2457387_161130413000_2.jpg")
        .item
          %img(src="/uploads/1982969_132821594794_2.jpg")

    %a.carousel-control.left(href="#myCarousel" data-slide="prev") ‹
    %a.carousel-control.right(href="#myCarousel" data-slide="next") ›
