.container
  .row
    #myCarousel.carousel.slide
      .carousel-inner
        -@recommend_logos.each_with_index do |logo,index|
          .item(class = "#{index==0?'active':''}")
            #{image_tag(logo.url)}

    %a.carousel-control.left(href="#myCarousel" data-slide="prev") ‹
    %a.carousel-control.right(href="#myCarousel" data-slide="next") ›







  .region
    .block
      %h2
        商品分类
      .content
        %ul.nav-ms#nav-ms
          %li(data-alt="锟斤拷锟斤拷微锟斤拷")
            %a.ms-sina(href="products_show?category=clothes" target="_blank")服装
          %li(data-alt="锟斤拷讯微锟斤拷")
            %a.ms-tq(href="products_show?category=shoes" target="_blank" title="锟斤拷讯微锟斤拷")鞋子
          %li(data-alt="Facebook")
            %a.ms-facebook(href="products_show?category=bags" target="_blank" titlte="Facebook")包包
          %li(data-alt="Twitter")
            %a.ms-twitter(href="products_show?category=jewelry" target="_blank" title="Twitter")首饰