.container
  .row
    #myCarousel.carousel.slide
      .carousel-inner
        -@recommend_logos.each_with_index do |logo,index|
          .item(class = "#{index==0?'active':''}")
            #{image_tag(logo.url)}

    %a.carousel-control.left(href="#myCarousel" data-slide="prev") ‹
    %a.carousel-control.right(href="#myCarousel" data-slide="next") ›

  .region
    .block
      %h2
        商品分类
      .content
        %ul.nav-ms#nav-ms
          %li(data-alt="服装")
            %a.ms-sina(href="products_show?category=clothes" target="_blank" title="服装")服装
          %li(data-alt="鞋子")
            %a.ms-tq(href="products_show?category=shoes" target="_blank" title="鞋子")鞋子
          %li(data-alt="包包")
            %a.ms-facebook(href="products_show?category=bags" target="_blank" titlte="包包")包包
          %li(data-alt="首饰")
            %a.ms-twitter(href="products_show?category=jewelry" target="_blank" title="首饰")首饰