.container
  .row
    #myCarousel.carousel.slide
      .carousel-inner
        -@recommend_logos.each_with_index do |logo,index|
          .item(class = "#{index==0?'active':''}")
            #{image_tag(logo.url)}

    %a.carousel-control.left(href="#myCarousel" data-slide="prev") ‹
    %a.carousel-control.right(href="#myCarousel" data-slide="next") ›


    #category
      #clothes(href="products_show?category=clothes")
        %strong
          %i.glyphicon.glyphicon-flag
          %span
            服装

      #shoes(href="products_show?category=shoes")
        %strong
          %i.glyphicon.glyphicon-flag
          %span
            鞋子

      #bags
        %strong(href="products_show?category=bags")
          %i.glyphicon.glyphicon-flag
          %span
            包包

      #jewelry(href="products_show?category=jewelry")
        %strong
          %i.glyphicon.glyphicon-flag
          %span
            首饰