-#.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      %a.navbar-brand(href="/" ) 移动商城
    -if signed_in?
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a(href="#" )
            %span
              你好，#{current_user.name}
    -else
      %ul.nav.navbar-nav.navbar-right
        %li
          %a(href="/signup")
            %span
              去注册
%div(data-role = "header" data-position="fullscreen")
  %div(data-role = "navbar")
  .container
    %a.navbar-brand(href="/" ) 移动商城
    -if signed_in?
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a(href="#" )
            %span
              你好，#{current_user.name}
    -else
      %ul.nav.navbar-nav.navbar-right
        %li
          %a(href="/signup")
            %span
              去注册

%br