%div(class="navbar navbar-default navbar-static-top")
  .container
    .navbar-header
      %button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
        %span(class="icon-bar" )
        %span(class="icon-bar" )
        %span(class="icon-bar" )
      %a(class="navbar-brand cwx-logo" href="/" ) 移动商城