%div(class="modal fade" id="add_new_product" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
  %div(class="modal-dialog")
    %div(class="modal-content")
      %div(class="modal-header")
        %button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
        %h4(class="modal-title" id="myModalLabel") 添加新产品
      = form_for "new_product",:url => {controller:'shop', action:'create_product'}, :html => {:multipart => true} do |f|
        %div(class="modal-body")
          %table.table.table-hover
            %tbody
              %tr
                %td(algin="center")类别
                %td
                  =f.radio_button :category, "clothes"
                  =f.label "服装"
                  &nbsp&nbsp
                  =f.radio_button :category, "shoes"
                  =f.label "鞋子"
                  &nbsp&nbsp
                  =f.radio_button :category, "bags"
                  =f.label "包包"
                  &nbsp&nbsp
                  =f.radio_button :category, "jewelry"
                  =f.label "首饰"
                  &nbsp&nbsp
              %tr
                %td(algin="center")名称
                %td=f.text_field :name, class:"form-control"
              %tr
                %td(algin="center")价格
                %td=f.text_field :price, class:"form-control"
              %tr
                %td(algin="center")描述
                %td= f.text_field :describe, class:"form-control"
          %div
            = f.file_field :image
            = f.hidden_field :image_cache

        %div(class="modal-footer" )
          %input(type="submit" class="btn btn-primary btn-lg" value="保存")
          %input(type="button" class="btn btn-default btn-lg" data-dismiss="modal" value="取消" )