.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand(href="/index")
      %a.brand-1(href="/index")
      .nav-collapse.collapse
        %ul.nav
          %li#_index
            %a(href="/index")首页
          %li#_login
            %a(href="/login")登录
          %li#_register
            %a(href="/register")注册
          %li#_about_us
            %a(href="/about_us")关于我们

