.green-banner
  .green-head
    .content-wrap
      .green-title 关于MobileMail
      %div
        .f16.mt20
          %strong
            MobileMail
          是一个移动版的商城应用
        .mt20
          %strong
            基于HTML5技术
          ，HTML5是HTML下一个主要的修订版本，现在仍处于发展阶段。目标是取代1999年所制定的HTML4.01和XHTML1.0 标准，以期能在互联网应用迅速发展的时候，使网络标准达到符合当代的网络需求
        .mt20
          %strong
            建设一个不局限于手机系统的移动商城
          是我们的理念，任何个人和公司都可以成为我们的合作伙伴。
        .mt20
          %strong
            如果您有好的意见或者建议，请联系我们。
        .mt20
          .mt10
            %strong
              项目负责人：
            李阳伊
          .mt10
            %strong
              邮箱：
            1156612970@qq.com
          .mt10
            %strong
              联系电话：
            13663119607
          .mt10
            %strong
              我们的地址：
            河北省石家庄市河北师范大学软件学院