.green-banner
  .green-head
    .content-wrap
      .green-title 关于摩德
      %div
        .f16.mt20 Moode是一个创业公司
        .mt20
          %strong
            推崇小而精的全功能团队
          ，致力通过简单、有效的方式，帮助客户找到真正的需求和适合的解决方案，充分发挥移动互联网和传统互联网的作用。
        .mt20
          %strong
            开放、透明、分享、担当
          是我们的理念，任何个人和公司都可以成为我们的合作伙伴。
        .mt20
          %div 目前我们的合作伙伴有：
          .mt10
            %img(src="/images/thoughtwork.png")