.index-info
  .container.index-img
    %div(style=" margin:30px 0 ;")
      %h1 MobileMall移动商城
      %p
        把企业商铺开在空中，自由移动，让企业经营握在手中，随处经营。
        把握用户与企业双重生态，打破行业界限，时间界限、地域界限，打造商业联盟，汇聚人的力量，形成全新的、移动的商圈体系，
        为5亿手机用户、为亿万企业商家共同营造一个开放的、自由的移动商业生态。
    .qrcode_area
      %img(src = "/images/qrcode.jpg" width="100%")
    %p
      %a(href="/login")
        还等干什么，赶快登录我们吧

.container
  .index-marketing